.vertical-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 0.5rem; /* rounded-lg */
  padding: 0.5rem; /* p-2 */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-md */
  gap: 1rem; /* gap-4 */
}


.toolbar-button {
  padding: 0.5rem; /* p-2 */
  border-radius: 0.375rem; /* rounded-md */
  border: none;
  background: transparent;
  color: #374151; /* text-gray-700 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease; /* transition-colors duration-200 */
}
/* 
.toolbar-button:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
} */